recursive-include nunchaku_lite *.py *.json
recursive-include nunchaku_lite/csrc *.cpp *.h *.hpp *.ipp *.cu *.cuh
recursive-include native/src *.cpp *.h *.hpp *.ipp *.cu *.cuh
recursive-include native/third_party/cutlass/include *.cpp *.h *.hpp *.ipp *.cu *.cuh
recursive-include native/third_party/json/include *.cpp *.h *.hpp *.ipp
recursive-include native/third_party/mio/include *.cpp *.h *.hpp *.ipp
recursive-include native/third_party/spdlog/include *.cpp *.h *.hpp *.ipp

include setup.py
include README.md
